@font-face {
	src: url(../font/VAG-HandWritten.otf);
	font-family: 'VAG-HandWritten';
	font-weight: normal;
}

.heading h1 {
	font-size: 50px;
	font-weight: normal;
	font-style: italic;
	font-family: 'VAG-HandWritten';
}

.paragraph p {
	font-family: 'VAG-HandWritten';
}

.paragraph-two p {
	font-family: 'VAG-HandWritten';
}